.filter-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.filter-icon {
  width: 22px;
  height: 22px;
}

select {
  padding: 6px 10px;
  border-radius: 5px;
  background: #1c1c1c;
  color: white;
  border: 1px solid #444;
  outline: none;
  cursor: pointer;
}
