button{
    font-size: 20px;
    background: orangered;
    padding: 5px 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}
button:hover{
    color: orangered;
    background-color: white;
}
span{
    font-size: 20px;
}